body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #dff0df;
    color: #3e8e41;
}
input {
    width: 50px;
    margin: 5px;
    background-color: #e6ffe6;
    border: 1px solid #b2ff59;
}
button {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #e6ffe6;
    border: 1px solid #b2ff59;
}

